# Fichiers ignores automatiquement (>20 Mo)
/books

# --- git-ignore-auto (2026-07-19) ---
/books/Integrated\ Chinese\ 4th\ Edition,\ Volume\ 1\ Character\ Workbook\ --\ Yuehua\ Liu,\ Tao-chung\ Yao,\ Nyan-Ping\ Bi,\ Liangyan\ Ge,\ Yaohua\ --\ Integrated\ Chinese,\ 4,\ --\ isbn13\ 9781622911318\ --\ 5c356e259092b271c4bfa09f73662b49\ --\ Anna’s\ Archive.pdf
/books/Integrated\ Chinese\ -\ Textbook,\ Volume\ 1\ -\ 4th\ Edition\ --\ Yuehua\ Liu,\ Tao-chung\ Yao,\ Nyan-Ping\ Bi,\ Liangyan\ Ge,\ Yaohua\ --\ 4th\ Edition,\ PS,\ 2016\ --\ isbn13\ 9781622911318\ --\ 6951622a73731aa0ac187b5f6f6675a9\ --\ Anna’s\ Archive.pdf
/books/New\ Practical\ Chinese\ Reader\ 1\ (Textbook\ +\ Workbook\ +\ Audio)\ --\ Liu\ Xun\ --\ New\ Practical\ Chinese\ Reader\ 01,\ 1,\ 2nd\ revised,\ 2010\ --\ Beijing\ Language\ --\ 74083120413f05f9b4742b0b6a3971b1\ --\ Anna’s\ Archive/NPCR\ 1.pdf
/books/Integrated_Chinese_Level_1_Part_1_Simplified.apkg
/books/Integrated\ Chinese\ 4th\ Edition,\ Volume\ 1\ Workbook\ --\ Yuehua\ Liu\ and\ Tao-chung\ Yao\ Nyan-Ping\ Bi,\ Yaohua\ Shi,\ --\ Integrated\ Chinese\ series,\ 4th\ edition,\ --\ isbn13\ 9781622911318\ --\ 84ee52444b74a03f29ef636c805a2a6b\ --\ Anna’s\ Archive.pdf
